include MANIFEST.in
include LICENCE.txt
include README.rst
include Pipfile
include Pipfile.lock
include setup.py
include tox.ini
include implib2/imp_tables.json
include implib2/imp_errors.json
recursive-include docs *
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
prune docs/_build
