[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"


[dev-packages]

tox = "*"
sphinx = "*"
"sphinx-rtd-theme" = "*"
pytest = "*"
"pytest-cov" = "*"
mock = "*"
"flake8" = "*"
funcsigs = "*"
enum = "*"
packaging = "*"
bpython = "*"
twine = "*"
typing = "*"

[requires]
python_version = "2.7"