[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"

[dev-packages]
tox = "*"
pytest = "*"
pytest_cov = "*"
flake8 = "*"
twine = "*"
packaging = "*"
autopep8 = "*"
sphinx = "*"
docutils = "*"

[dev-packages.mock]
version = "*"
markers = "python_version < '3.3'"

[dev-packages.funcsigs]
version = "*"
markers = "python_version < '3.3'"
