[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pyserial = "*"
"e1839a8" = {path = ".", editable = true}


[dev-packages]

tox = "*"
pytest = "*"
pytest-cov = "*"
"flake8" = "*"
twine = "*"
packaging = "*"
"autopep8" = "*"
sphinx = "*"
docutils = "*"
mock = { version = "*", markers = "python_version < '3.4'" }
funcsigs = { version = "*", markers = "python_version < '3.4'" }
"flake8-import-order" = "*"
ipython = "*"
